django=2.2.5=py37_1
django-heroku=0.3.1=pypi_0
eventregistry=8.7=pypi_0
gunicorn=20.0.4=pypi_0
newsapi-python=0.2.6=pypi_0
nltk=3.4.5=py37_0
pip=19.3.1=py37_0
predicthq=1.0.5=pypi_0
psycopg2=2.8.4=pypi_0
pycountry=19.8.18=pypi_0
pycountry-convert=0.7.2=pypi_0
python=3.7.5=h8c8aaf0_0
python-dateutil=2.8.1=py_0
python-decouple=3.3=pypi_0
requests=2.22.0=py37_1
virtualenv=16.7.9=pypi_0
