django==2.2.21
django-heroku==0.3.1
eventregistry==8.7
gunicorn==20.0.4
newsapi-python==0.2.6
nltk==3.4.5
pip==19.3.1
predicthq==1.0.5
psycopg2==2.8.4
pycountry==19.8.18
pycountry-convert==0.7.2
python-dateutil==2.8.1
python-decouple==3.3
requests==2.22.0
virtualenv==16.7.9
